# IDEs

## VS Code

.vscode/
.devcontainer/

## IDEA

.idea/

## WSL

*:Zone.Identifier

# Projet

## Dépendances

node_modules/
.pnpm-store/
database/datavolume/

## Build

coverage/

## Secrets

*.secret
.env
